<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler" />
        <param name="Append" value="true" />
        <param name="File" value="${jboss.server.log.dir}/implast.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss,SSS} %p %c{1}:%3L - %m%n" />
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler" />
        <param name="Target" value="System.out" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss,SSS} %p %c{1}:%3L - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
            <param name="LevelMax" value="info" />
        </filter>
    </appender>

    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <param name="Threshold" value="WARN" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%t][%F:%L] : %m%n" />
        </layout>
    </appender>

    <category name="pe.com.implast">
        <priority value="INFO" />
    </category>
    
    <category name="pe.com.implast">
        <priority value="ERROR" />
    </category>
    
    <category name="net.sourceforge.jdbclogger">
        <priority value="DEBUG" />
    </category>

    <logger name="org.springframework.integration">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework.security">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.jdbc">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.aop">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.web">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.web.servlet">
        <level value="DEBUG" />
    </logger>
    <logger name="org.apache.commons">
        <level value="DEBUG" />
    </logger>

    <root>
        <priority value="DEBUG" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</log4j:configuration>